/* Media Queries */
/* Large Devices (Desktops & Laptops) */
@media (min-width: 1200px) {
    /* None */
}

/* Medium Devices (Landdcape Tablets & Medium Desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    /* None */
}

/* Small Devices (Portrait Tablets & Small Desktops) */
@media (min-width: 768px) and (max-width: 991px) {
    .navbar {
        padding: 10px 20px 7px 20px;
    }

     /* Projects */
     .projects-grid {
        padding: 0px;
    }

    .projects-grid .projects-list {
        max-width: 340px;
        padding: 12px;
    }

    /* Footer */
    #footer-copyrights {
        text-align: center;
    }

    #footer-menu {
        display: none;
    }
}

/* Extra Small Devices (Landscape Phones & Portrait Tablets) */
@media (max-width: 767px) {
    /* Mobile menu navbar */
    .navbar {
        padding: 10px 20px 7px 20px;
    }

    /* Home */
    #home {
        margin-bottom: 60px;
    }

    #home-heading h2 {
        font-size: 40px;
    }

    /* Arrow Downwards */
    .arrow {
        opacity: 0;
        margin-left: -25px;
        position: absolute;
            top: 94%;
    }

    @keyframes arrow-movement {
        0% { 
            opacity: 0;
            top: 89%;
        }
        70% {
            opacity: 1;
        }
        100% { 
            opacity: 0;
        }
    }

    /* Particles */
    #particles-js {
        height: 120%;
    }

    /* About */
    /* Remove diagonal background image */
    #about-bg-diagonal {
        border-left: 0;
        border-top: 0;
        width: 0%;
        height: 0px;
    }

    #about-content-box {
        margin-top: 120px;
        margin-bottom: 60px;
    }

    #about-desc {
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
    }

    #about-content-box {
        width: 100%;
        height: 350px;
    }

    #about .content-title {
        display: -ms-inline-grid;
        display: inline-grid;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    #about .content-title-underline {
        margin: 0 auto 30px auto;
    }

    #about-btn {
        text-align: center;
    }

    /* Experiences */
    .experience-logo a {
        margin: auto;
        margin-bottom: 20px;
    }

    .experience-company h4, h5{
        text-align: center;
        margin-bottom: 2px;
    }

    .experience-icons {
        text-align: center;
    }

    .experience-duration p {
        text-align: center;
        margin-bottom: 2px;
    }
    
    .experience-title h5, h6{
        text-align: center;
        margin-bottom: 4px;
    }

    /* Projects */
    .projects-grid {
        padding: 20px;
        max-width: 900px;
        margin: 0 auto;
        list-style: none;
        text-align: center;
    }

    /* Programs */
    #programs {
        padding: 0;
    }

    /* Footer */
    #footer-copyrights {
        text-align: center;
    }

    #footer-menu {
        display: none;
    }
}

/* Extra Small Devices (Smaller devices) */
@media (max-width: 480px) {
    /* Experiences */
    .projects-grid figcaption h3 {
        font-size: 18px;
    }

    .projects-grid figcaption p {
        font-size: 12px;
    }

    .projects-grid figcaption a {
        font-size: 14px;
    }
    
    /* .experience-desc ul :nth-child(n+1){
        display: none;
    } */
}

/* Extra Small Devices (Smaller devices) */
@media (max-width: 370px) {
    /* About */
    #about .content-title h3 {
        margin-top: 30px;
    }
}

/* Extra Small Devices (Smaller devices) */
@media (max-width: 320px) {
    /* About */
    #about-content-box {
        margin-top: 40px;
    }

    #about .content-title h3 {
        margin-top: 30px;
    }

    /* Experiences */
    .experience-icon img {
        max-width: 80px;
        width: 58px;
        height: 58px;
        padding: 7px;
    }

    .experience-list-title h3 {
        font-size: 17px;
    }

    /* Projects */
    .projects-grid figcaption h3 {
        font-size: 15px;
    }

    .projects-grid figcaption p {
        font-size: 10px;
    }

    .projects-grid figcaption a {
        font-size: 12px;
    }
}