/* Media Queries for Mobile-First Design */
/* Large Devices (Desktops & Laptops */
@media (min-width: 1200px) {

}

/* Medium Devices (Landdcape Tablets & Medium Desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Small Devices (Portrait Tablets & Small Desktops) */
@media (min-width: 768px) and (max-width: 991px) {
    .navbar {
        padding: 10px 20px 7px 20px;
    }

    #footer-copyrights {
        text-align: center;
    }

    #footer-menu {
        display: none;
    }
}

/* Extra Small Devices (Landscape Phones & Portrait Tablets) */
@media (max-width: 767px) {
    /* Mobile menu */
    .navbar {
        padding: 10px 20px 7px 20px;
    }

    /* About */
    /* Remove diagonal */
    #about-bg-diagonal {
        border-left: 0;
        border-top: 0;
        width: 100%;
        height: 350px;
    }
    #about-content-box {
        width: 100%;
        height: 350px;
    }

    #footer-copyrights {
        text-align: center;
    }
    #footer-menu {
        display: none;
    }

    /* Home */
    #home-heading h2 {
        font-size: 40px;
    }
    
    .btn-general {
        /* padding: 6px 22px 6px 22px;
        font-size: 14px; */
        /* justify-content: center; */
    }

    /* Aboout Me */
    #about .content-title {
        display: inline-grid;
        justify-content: center;
    }
    
    #about .content-title-underline {
        margin: 0 auto 30px auto;
    }

    #about-btn {
        text-align: center;
    }

    /* Experience logo */
    .experience-logo a {
        margin: auto;
        margin-bottom: 20px;
        /* padding-bottom: 20px; */
    }

    .experience-company h4, h5{
        text-align: center;
        margin-bottom: 2px;
    }
    
    .experience-duration p {
        text-align: center;
        margin-bottom: 2px;
    }
    
    .experience-title h5, h6{
        text-align: center;
        margin-bottom: 4px;
    }

    .experience-desc ul :nth-child(n+2){
        /* display: none; */
    }

    /* Programs */
    #programs {
        padding: 0;
    }
}

/* Extra Small Devices (Smaller devices) */
@media (max-width: 480px) {
    .projects-grid figcaption h3 {
        font-size: 14px;
    }

    .projects-grid figcaption {
        font-size: 12px;
    }

    .experience-title h5, h6{
        color: #FC766A;
    }

    .experience-desc ul :nth-child(n+1){
        display: none;
    }


}

/* Extra Small Devices (Smaller devices) */
@media (max-width: 320px) {

    #about .content-title h3 {
        margin-top: 30px;
    }


    /* experience icon */
    /* TODO: Too big */


    .experience-icon img {
        max-width: 80px;
        width: 58px;
        height: 58px;
        padding: 7px;
    }

    .experience-list-title h3 {
        font-size: 17px;
    }

    #about-content-box {
        margin-top: 40px;
    }
}