/* Default values */
/* ============================================
    === Fonts ===
    Nunito: Texts, Paragraph Tags 
    Roboto: Headers
    Brand: TS-Signature
    Banner: Sylfaen
    Gill Sans: Buttons

    === Colors ===
    Mint:         #ADEFD1
    Living Coral: #FC766A rgba(252,118,106)
    Sailor Blue:  #262A3B
    Bluish gray:  #4B6076
* =============================================/

/* General */
html, body {
    height: 100%;
    font-family: 'Nunito', sans-serif;
}

p {
    color: #64707b;
    font-size: 16px;
    font-weight: 300;
}

::selection {
    background: #FC766A; /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #FC766A; /* Gecko Browsers */
}

h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}

/* Fonts */
@font-face {
    font-family: ts-signature;
    src: url(../../fonts/Tropical\ Summer\ Signature.ttf);
}

@font-face {
    font-family: sylfaen;
    src: url(../../fonts/sylfaen.ttf);
}

@font-face {
    font-family: gill-sans;
    src: url(../../fonts/GILC____.TTF);
}

/* Home */
#home {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#home-content-box {
    display: flex;
    flex-direction: column;
}

#home-heading h2 {
    color: #262A3B;
    font-size: 55px;
    font-weight: 700;
    margin: 20px 0 20px 0;
}

#profile-pic {
    display: flex;
    justify-content: center; 
}

#profile-pic img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

/* Navigation */
.navbar {
    padding: 20px 0;
    transition: all .5s ease-in-out;
}

.navbar-brand h3 {
    font-family: ts-signature;
}

.web-top-nav {
    background: rgba(103, 179, 162, 0.8);
    padding: 7px 0;
}

.web-nav-wrapper {
    padding: 0 85px;
}

.navbar-nav {
    font-family: "Roboto", sans-serif;
    margin-left: auto;
}

.navbar-nav > li > a {
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 700;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    background: none !important;
    color: #FC766A !important;
}

.navbar-toggler {
    background-color: rgba(0,0,0,0.1);
    border: 1px solid #4B6076;
    border-radius: 10px;
}

.navbar-toggler-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa.fa-navicon {
    color: white;
}

.nav-item {
    display: flex;
    margin-left: auto;
}

.web-top-nav ul.navbar-nav > li > a.active {
    color: #34c6d3;
}

/* Banner */
#banner {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#banner h2 {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -moz-transition: -moz-transform 0.5s ease, opacity 1s ease;
    -webkit-transition: -webkit-transform 0.5s ease, opacity 1s ease;
    -ms-transition: -ms-transform 0.5s ease, opacity 1s ease;
    transition: transform 0.5s ease, opacity 1s ease;
    display: inline-block;
    font-size: 46px;
    opacity: 1;
    padding: 0.35em 1em;
    position: relative;
    z-index: 1;
}

#banner h2:before, #banner h2:after {
    -moz-transition: width 1s ease;
    -webkit-transition: width 1s ease;
    -ms-transition: width 1s ease;
    transition: width 1s ease;
    -moz-transition-delay: 0.25s;
    -webkit-transition-delay: 0.25s;
    -ms-transition-delay: 0.25s;
    transition-delay: 0.25s;
    background: rgb(255, 153, 143);
    content: '';
    display: block;
    height: 3px;
    position: absolute;
    width: 100%;
}

#banner h2:before {
    top: 0;
    left: 0;
}

#banner h2:after {
    bottom: 0;
    right: 0;
}

#banner .inner {
    font-family: sylfaen;
    margin-bottom: 40px;
}

/* h2 appears slightly */
body.is-preload #banner h2 {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0;
}

body.is-preload #banner h2:before, body.is-preload #banner h2:after {
    width: 0;
}

/* particles */
#particles-js {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
}

/* Buttons */
.btn-general {
    /* font-family: "Roboto", sans-serif; */
    font-family: gill-sans;
    border-color: #FFFFFF;
    border-width: 2px;
    border-radius: 8px; 
    padding: 12px 26px 12px 26px;
    font-weight: 400;
    font-size: 22px;
    text-transform: uppercase;
    /* font-stretch: extra-condensed; */
}

.btn-blue {
    border-color: #ADEFD1;
    color: #4B6076;
}

.btn-blue:hover, .btn-blue:focus {
    background-color: #ADEFD1;
    color: white;
}

.btn-back-to-top {
    color: #ADEFD1;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 22px;
    padding: 3px 15px;
    border-radius: 6px;
    display: none;
}

#profile-pic {
    -webkit-animation-delay: 2.2s;
    animation-delay: 2.2s;
    -webkit-animation-duration: 1.4s;
    animation-duration: 1.4s;
}

#home-heading {
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
}

#home-btn {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
    -webkit-animation-duration: 1.4s;
    animation-duration: 1.4s;
}

/* Content (Generic) */
.content-box {
    padding: 60px 0 60px 0;
}

.content-title h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 30px 0;
    color: #262A3B;
}

.content-title-underline {
    width: 30px;
    height: 3px;
    background-color: #ADEFD1;
    margin: 0 auto 30px auto
}

/* About */
#about-content-box {
    float: left;
    height: 800px;
}

#about-content-box-outer {
    width: 100%;
    height: 100%;
    display: flex
   
}

#about-content-box-inner {
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

#about .content-title h3 {
    text-align: left
}

#about .content-title-underline {
    margin: 0 0 30px 0;
}

#about-desc {
    margin-bottom: 30px;
}

#about-desc p {
    margin-bottom: 30px;
}

#about-bg-diagonal{
    width: 60%;
    height: 800px;
    float: right;
    background-image: url(../../img/background/coffee-break.jpg);
    border-left: 200px solid white;
    border-top: 800px solid transparent;
}

/* Parallax Scrolling */
.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Experience */
.experience-box {
    padding: 20px 20px 0 20px;
}

.experience-logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.experience-company h4, h5{
    color: #262A3B;
    margin-bottom: 0;
}

.experience-duration p {
    font-family: "Roboto", sans-serif;
    color: #262A3B;
    margin: 0;
}

.experience-title h5, h6{
    color: #262A3B;
}

.experience-content {
    display: block;
    justify-content: left;
    color: #4B6076;
}

.other-software-experience h4 {
    margin: 50px 0 15px 0;
    text-align: center;
}

.other-software-experience .content-title-underline {
    margin-bottom: 0;
}

.other-experiences .experience-content {
    max-width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
}

.experience-desc ul{
    list-style-type: none;
    margin-left: -20px;
}

.experience-desc li::before {
    content: "\25AA"; 
    color: #FC766A; 
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

#capitalone-logo {
    width: 200px;
}

#ford-logo {
    width: 200px;
}

.other-experiences h4 {
    text-align: center;
}

.other-company-logo {
    width: 150px;
}

/* Projects */
.projects-content-box {
    padding: 60px 0 60px 0;
}

.projects-gallery {
    padding: 40px;
}

/* Programming Languages */
#programs {
    padding: 20px;
}

/* Social Media */
.social-media-list {
    display: flex;
    justify-content: center;
}

.social-media-list {
    padding-left: 0px;
}

.social-media-list li {
    list-style: none;
    width: 32px;
    height: 32px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

.icon-white i {
    color: white;
}

.social-icon i:hover {
    color: rgb(173, 239, 209)
}

/* Contact */
footer {
    background-color: #4B6076;
    padding-top: 30px; 
    border-top: 5px solid rgba(252,118,106,0.8)
}

#contact-info h3 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
}

/* Footer */
#footer-bottom {
    background-color: #262A3B;
    padding: 30px 0px; 
    margin-top: 30px;
}

#footer-copyrights p {
    margin: 0;
    color: white;
}

#footer-menu {
    float: right;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

#footer-menu ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#footer-menu ul li {
    display:inline-block;
}

#footer-menu a {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin: 0 10px;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

#footer-menu a:hover {
    color: #FC766A;
}