.card {
	border-radius: 8px;
}

.projects-grid {
	padding: 20px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.projects-grid .projects-list {
	display: inline-block;
	max-width: 380px;
	margin: 0;
	padding: 20px;
	text-align: left;
	position: relative;
}

.projects-grid figure {
	margin: 0;
	position: relative;
}

.projects-grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
	border-radius: 18px;
}

.projects-grid figcaption {
	position: absolute;
	padding: 13%;
	border-radius: 8px;
	background: rgb(78, 104, 143);
}

.projects-grid figcaption h3 {
	font-size: 21px;
	margin-top: -10px;
	color: #fff;
}

.projects-grid figcaption p {
	color: rgb(192, 192, 192);
	font-size: 14px;
}

.projects-grid figcaption a {
	text-decoration: none;
	position: absolute;
	display: inline-block;
	text-align: center;
	padding: 5px 10px;
	border-radius: 4px;
	background: #FC766A;
	font-size: 16px;
	color: #ffffff;
	bottom: 12%;
	right: 10%;
}

.projects-grid figcaption a:hover {
	background: rgb(245, 101, 87);
}

/* Hover */
.projects-hover figure img {
	z-index: 1;
	-webkit-transition: -webkit-transform 0.4s;
	-o-transition: transform 0.4s;
	transition: transform 0.4s, -webkit-transform 0.4s; 
}

.no-touch .projects-hover figure:hover img,
.projects-hover figure.cs-hover img {
	-webkit-transform: scale(0.35) translateX(-75%) translateY(75%);
	-ms-transform: scale(0.35) translateX(-75%) translateY(75%);
	transform: scale(0.35) translateX(-75%) translateY(75%);
}

.no-touch .projects-hover figure:active img,
.projects-hover figure.cs-hover img {
	-webkit-transform: scale(0.4) translateX(-100%) translateY(100%);
	-ms-transform: scale(0.4) translateX(-100%) translateY(100%);
	transform: scale(0.4) translateX(-100%) translateY(100%);
}

.projects-hover figcaption {
	height: 100%;
	width: 100%;
	opacity: 0;
	-webkit-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	-webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
	transition: opacity 0.4s, -webkit-transform 0.4s;
	-o-transition: transform 0.4s, opacity 0.4s, -webkit-transform 0.4s;
	transition: transform 0.4s, opacity 0.4s, -webkit-transform 0.4s;
	transition: transform 0.4s, opacity 0.4s, -webkit-transform 0.4s;
}

.no-touch .projects-hover figure:hover figcaption,
.projects-hover figure.cs-hover figcaption {
	-webkit-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
	opacity: 1;
}

.no-touch .projects-hover figure:active figcaption,
.projects-hover figure.cs-hover figcaption {
	-webkit-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
	opacity: 1;
}