.card {
	border-radius: 8px;
}

.projects-grid {
	padding: 20px;
	max-width: 1300px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.projects-grid .projects-list {
	display: inline-block;
	max-width: 380px;
	margin: 0;
	padding: 20px;
	text-align: left;
	position: relative;
}

.projects-grid figure {
	margin: 0;
	position: relative;
}

.projects-grid figure img {
	max-width: 100%;
	display: block;
	position: relative;
	border-radius: 18px;
}

.projects-grid figcaption {
	font-size: 16px;
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	border-radius: 8px;
	/* background: #4B6076; */
	background: rgb(107, 137, 168);
	/* background: rgba(101, 190, 171, 0.8); */
	color: #FC766A;
}

.projects-grid figcaption h3 {
	font-size: 20px;
	margin: 0;
	padding: 0px 0 8px 0;
	color: #fff;
}

.projects-grid figcaption p {
    color: #FFFFFF;
}


.projects-grid figcaption span:before {
	content: '';
}

.projects-grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 4px;
	display: inline-block;
	background: #FC766A;
	color: #fff;
}


/* Hover */
.projects-hover figure img {
	z-index: 10;
	-webkit-transition: -webkit-transform 0.4s;
	transition: -webkit-transform 0.4s;
	-o-transition: transform 0.4s;
	transition: transform 0.4s;
	transition: transform 0.4s, -webkit-transform 0.4s;
}

.no-touch .projects-hover figure:hover img,
.projects-hover figure.cs-hover img {
	-webkit-transform: scale(0.3);
	-ms-transform: scale(0.3);
	transform: scale(0.3);
}

.no-touch .projects-hover figure:active img,
.projects-hover figure.cs-hover img {
	-webkit-transform: scale(0.3);
	-ms-transform: scale(0.3);
	transform: scale(0.3);
}

.projects-hover figcaption {
	height: 100%;
	width: 100%;
	opacity: 0;
	-webkit-transform: scale(0.7);
	-ms-transform: scale(0.7);
	transform: scale(0.7);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
	-webkit-transition: opacity 0.4s, -webkit-transform 0.4s;
	transition: opacity 0.4s, -webkit-transform 0.4s;
	-o-transition: transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s;
	transition: transform 0.4s, opacity 0.4s, -webkit-transform 0.4s;
}

.no-touch .projects-hover figure:hover figcaption,
.projects-hover figure.cs-hover figcaption {
	-webkit-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
	opacity: 1;
}

.no-touch .projects-hover figure:active figcaption,
.projects-hover figure.cs-hover figcaption {
	-webkit-transform: scale(1.15);
	-ms-transform: scale(1.15);
	transform: scale(1.15);
	opacity: 1;
}

.projects-hover figure a {
	position: absolute;
	bottom: 20px;
	right: 20px;
	margin: 6px
}