/*======
DEFAULT VALUES:


FONT Family: Roboto Condensed
39c4cc
#55efc4
55EFC4

background: #114357;  /* fallback for old browsers */
/* background: -webkit-linear-gradient(to right, #F29492, #114357);  Chrome 10-25, Safari 5.1-6 */
/* background: linear-gradient(to right, #F29492, #114357); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



html, body {
    height: 100%;
}

body {
    /* height: 100%; */
    /* background: #85D8CE;  fallback for old browsers
    background: -webkit-linear-gradient(to bottom, #85D8CE, #FFFFFF);   Chrome 10-25, Safari 5.1-6 
    background: linear-gradient(to bottom, #85D8CE, #FFFFFF); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0))); */
    
 

    background-repeat: no-repeat;
    /* background-image: url("../img/bg-home.jpg");    */
    background-position: center;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1),#ffffff);
    /* background-image: url("../img/deep-space.jpg"); */
}

p {
    color: #64707b;
    font-size: 16px;
    font-weight: 300;
}

h3 {
    color: #41464b;
}

body {
    font-family: "Roboto", sans-serif;
}

::selection {
    background: #FC766A; /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #FC766A; /* Gecko Browsers */
}

#home {
    height: 100%;
    /* width: 100%;
    background-image: url("../img/assorted-hot-beverages-tea-matcha-coffee.jpg");
    background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* particles */
#particles-js {
    width: 100%;
    height: 100%;
    /* background: grey; */
    /* background-image: url("../img/deep-space.jpg"); */
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    /* background-size: cover;
    background-position:center; */
    /* align-self: center; */
}

/* #home-cover {
    height: 100%;
    background-image: url("../img/bg-home.jpg");   
} */

#home-content-box {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    /* margin-top: 20%; */
}

#home-heading h2 {
    color: black;
    font-size: 55px;
    font-weight: 700;
    margin: 20px 0 20px 0;
}

/* Parallelx Scrolling */
.bg-parallax {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* or fixed */
}

/* Buttons */
.btn-general {
    border-color: #FFFFFF;
    border-width: 2px;
    border-radius: 0px; 
    /* to remove rounded edges */
    padding: 12px 26px 12px 26px;
    /* change this if needed */
    font-weight: 400;
}

.btn-white {
    border-color: #FFFFFF;
    color: #FFFFFF;
}

.btn-white:hover, .btn-white:focus {
    background-color: #FFFFFF;
    color: #41464b
}

.btn-blue {
    border-color: #34c6d3;
    color: #34c6d3;
}

.btn-blue:hover, .btn-blue:focus {
    background-color: #34c6d3;
    color: white;
}

.btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 22px;
    padding: 3px 15px;
    border-radius: 0;
    display: none;
}


#banner {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* position: absolute;
    margin-top: 20%;
    margin-right: auto;
    margin-left: auto; */
}

    #banner h2 {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
        transition: transform 0.5s ease, opacity 0.5s ease;
        display: inline-block;
        font-size: 1.75em;
        opacity: 1;
        padding: 0.35em 1em;
        position: relative;
        z-index: 1;
    }

        #banner h2:before, #banner h2:after {
            -moz-transition: width 0.85s ease;
            -webkit-transition: width 0.85s ease;
            -ms-transition: width 0.85s ease;
            transition: width 0.85s ease;
            -moz-transition-delay: 0.25s;
            -webkit-transition-delay: 0.25s;
            -ms-transition-delay: 0.25s;
            transition-delay: 0.25s;
            background: black;
            content: '';
            display: block;
            height: 2px;
            position: absolute;
            width: 100%;
        }

        #banner h2:before {
            top: 0;
            left: 0;
        }

        #banner h2:after {
            bottom: 0;
            right: 0;
        }


    #banner:after {
        pointer-events: none;
        -moz-transition: opacity 3s ease-in-out;
        -webkit-transition: opacity 3s ease-in-out;
        -ms-transition: opacity 3s ease-in-out;
        transition: opacity 3s ease-in-out;
        -moz-transition-delay: 1.25s;
        -webkit-transition-delay: 1.25s;
        -ms-transition-delay: 1.25s;
        transition-delay: 1.25s;
        content: '';
        background: white;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }

    @media screen and (max-width: 736px) {

        #banner {
            padding: 7em 3em 5em 3em ;
            height: auto;
            min-height: 0;
        }

            #banner h2 {
                font-size: 1.25em;
            }

            #banner br {
                display: none;
            }

            #banner .more {
                display: none;
            }

    }

    /* h2 appears slightly */
    body.is-preload #banner h2 {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0;
    }

    body.is-preload #banner h2:before, body.is-preload #banner h2:after {
        width: 0;
    }


/* animate */
/* clean code by grouping things together
#home-cover, #home-heading, #home-btn {
    -webkit-animation-duration: .5s;
} */

#home-cover {
    -webkit-animation-delay: .1s;
    -webkit-animation-duration: .5s;
}

#home-heading {
    -webkit-animation-delay: .5s;
    -webkit-animation-duration: .5s;
}

#home-btn {
    -webkit-animation-delay: 1s;
    -webkit-animation-duration: .5s;
}

/* Content (generic) */
.content-box {
    padding: 60px 0 60px 0;
}

.content-title h3 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    margin: 0 0 30px 0;
    color: #00203F;
}

.content-title-underline {
    width: 30px;
    height: 3px;
    background-color: #34c6d3;
    /* margin: 0 auto 30 auto; */
    margin: auto;
    /* margin-bottom: 30px */
}

/* Experience */
.experience-list {
    padding: 20px 0 20px 0;
    margin-bottom: 20px;
    /* cursor: pointer; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: left; */
    margin: auto
}

/* .experience-title-and-desc {
    align-items: center;
} */

.experience-icon i {
    color: #34c6d3;
    float: left;
    padding: 10px;
    margin-right: 25px;
    width: 90px;
    height: 90px;
    text-align: center;
    justify-items: center;;
}

.experience-list:hover .experience-icon i {
    color: #ffffff;
    background-color: #34c6d3;
}

.experience-list-title h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px 0;
    
}

.experience-list-desc p {
    margin: 0;
    padding-left: 15px;
}

/* About */
#about-content-box {
    float: left;
    height: 700px;
}

#about-content-box-outer {
    width: 100%;
    height: 100%;
    display: flex
   
}

#about-content-box-inner {
    /* display: flex; */
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

#about .content-title h3 {
    text-align: left
}

#about .content-title-underline {
    margin: 0 0 30px 0;
}

#about-desc {
    margin-bottom: 30px;
}

#about-desc p {
    margin-bottom: 30px;
}

#about-bg-diagonal{
    width: 60%;
    height: 700px;
    float: right;
    background-image: url(../img/coffee-break.jpg);
    border-left: 200px solid white;
    border-top: 700px solid transparent;
}

/* Social Media */
.social-media-list {
    display: flex;
    justify-content: center;
}

.social-media-list {
    padding-left: 0px;
}

.social-media-list li {
    /* padding-left: 50px; */
    list-style: none;
    /* display: inline-flex; */
    width: 32px;
    height: 32px;
    /* width: 100px;
    height: 100px; */
    /* margin-right: 6px; */
    /* margin-left: 50px; */
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
}

.social-icon i {
    /* font-size: 17px; */
}

.icon-gray i {
    color: #64707b;
}

.icon-white i {
    color: white;
}

.social-icon i:hover {
    color: #34c6d3;
}

/* Contact */
footer {
    /* background-color: #41464b; */
    background-color: #4B6076;
    padding-top: 30px; 
    border-top: 5px solid rgba(0,0,0,0.1)
}

#contact-info h3 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
}

/* Footer */
#footer-bottom {
    /* background-color: rgba(0,0,0,0.1); */
    background-color: #262A3B;
    /* padding-top & padding-bottom */
    padding: 30px 0px; 
    margin-top: 30px;
}

#footer-copyrights p {
    margin: 0;
    color: white;
}

#footer-menu {
    float: right;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}

#footer-menu ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

#footer-menu ul li {
    display:inline-block;
}

#footer-menu a {
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    margin: 0 10px;
    text-decoration: none;
}

#footer-menu a:hover {
    color: #34c6d3;
}

/* Navigation */
.navbar {
    padding: 20px 0;
    transition: all .5s ease-in-out;
}

.navbar-brand h3 {
    color: white;
}

.web-top-nav {
    /* background: rgba(0,0,0,0.7); */
    /* background: #262A3B; */
    background: rgba(38,42,59,0.7);
    padding: 7px 0;
}

.web-nav-wrapper {
    padding: 0 85px;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav > li > a {
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 700;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
    background: none !important;
    color: #34c6d3 !important;
}

.navbar-toggler {
    background-color: rgba(0,0,0,0.1);
    border: 1px solid #ffffff;
    border-radius: 10px;
}

.navbar-toggler-icon {
    /* background-color: #ffffff; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa.fa-navicon {
    color:white;
}

.nav-item {
    /* align-items: right; */
    /* padding-left: 88%; */
    display:flex;
    margin-left: auto;
    align-items: left;
}

.web-top-nav ul.navbar-nav > li > a.active {
    color: #34c6d3;
}

/* Programs */
.program {
    padding: 40px 0;
}

/* Projects */
.projects-gallery {
    padding: 40px;
}

/* experiences */
#capitalone-logo {
    width: 200px;
}

#ford-logo {
    width: 200px;
}

.experience-box {
    padding: 20px;
    /* margin-right: 75px;
    margin-left: -75px; */
}

.experience-logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.experience-content {
    display: block;
    justify-content: left;
    /* align-items: center; */
}

.other-software-experience h4 {
    text-align: center;
}

.other-experiences .experience-content {
    max-width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: right; */
    align-items: center;
}

.experience-desc li{
    list-style-type: square;
    margin-left: -20px;
}

.other-experiences h4 {
    text-align: center;
}

.other-company-logo {
    width: 150px;
}

/* About strikethrough */
@keyframes strike {
    0%   { 
        width : 0; 
    }
    100% { 
        width: 100%; 
    }
}
  
.strike {
    position: relative;
}
.strike::after {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: black;
    animation-name: strike;
    animation-delay: 5s;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; 
}